* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: rgb(23, 23, 23);
}

main {
    min-height: 100vh;
}

section {
    min-height: 100vh;
    background-color: #000000;
}

nav {
    display: flex;
    width: 100%;
    height: 8vh;
    /* background-color: red; */
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.company-logos {
    height: 10vh;
    background-color: pink;
}

.nav-left {
    display: flex;
    width: 40%;
    height: 100%;
    /* background-color: green; */
    color: white;
    font-size: 6px;
}

.nav-left .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;

    /* background-color: yellow; */
    i {
        font-size: 20px;
        color: white;
        cursor: pointer;
    }
}
.nav-left .links-container {
    display: flex;
    align-items: center;

    button {
        background-color: transparent;
        padding: 10px 13px;
        color: #8A8A8A;
        border: none;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        letter-spacing: 0.2px;
        word-spacing: 1px;
        transition: color 0.2s ease;

        &:hover {
            color: white; 
        }
    }
}

.nav-right {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 10px 20px;
    justify-content: flex-end;
    gap: 10px;
    box-sizing: border-box;

    button {
        background-color: transparent;
        padding: 8px 12px;
        color: white;
        border: 1px solid #393737;
        font-size: 14px;
        letter-spacing: 0.2px;
        cursor: pointer;
        border-radius: 8px;
    }
    & :hover{
        background-color: rgb(43, 39, 39);
    }

    .sign-up {
        background-color: white;
        color: black;
    }

}

.hero-section {
    height: 80vh;
    background-color: rgb(35, 33, 33);
}